.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Ensure full opacity */
    animation: none; /* Disable any animation */
    transition: none; /* Disable any transitions */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #CE1010CC;
    opacity: 0;
    animation: slideOverlay 2s forwards ease-in-out;
    animation-delay: 2s;
}

@keyframes slideOverlay {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.right-side {
    position: absolute;
    right: 0;
    width: 58%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 65px;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: fadeIn;
    animation-delay: 3s;
    transform: translateX(-120px);
}

.image-wrapper1 {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transition: transform 0.4s;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
      }
      
      &:active {
        transform: scale(0.95);
      }
}

.image-wrapper1 img {
    width: 100%;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
      }
      
      &:active {
        transform: scale(0.95);
      }
}

 

.chess-text {
    margin-top: 50px;
}


.zoom-in {
    opacity: 1;
    animation-name: zoomIn;
    animation-delay: 3s;
}

.custom-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 0.9s forwards;
}

.popup-content {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.elementor-heading-title {
    padding-left: 25px;
    text-align: left;
    color: #fff;
    font-family: "NeueHaasDisplay-Bold", Sans-serif;
    font-size: 6vw;
    line-height: 95px;
    letter-spacing: -1.3px;
    font-weight: 700;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .image-container {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
    }

    .overlay {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .right-side {
        width: 100%;
        height: auto;
        grid-template-rows: repeat(4, 1fr);
        padding: 240px 0px 0px 0px;
 
        justify-content: center;
    align-items: center;
    }

    .image-wrapper1 {
        height: 200px;
        width:200px;
    }


    .elementor-heading-title {
        font-size: 8vw;
        line-height: 6vw;
        line-height: 1;
    }
}

@media (max-width: 480px) {
    .image-container {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
    }

    .overlay {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .right-side {
        width: 100%;
        height: auto;
        margin-left: 5px;

        grid-template-rows: repeat(4, 1fr);
        padding: 240px 0px 0px 0px;
        justify-content: center;
    align-items: center;
    }

    .image-wrapper1 {
        height: 200px;
        width:200px;
    }


    .elementor-heading-title {
        font-size: 8vw;
        line-height: 6vw;
        line-height: 1;
    }
}
/* For tablets (portrait and landscape) */
@media (max-width: 1024px) {
    .right-side {
        right: 10%; /* Adjusted to center the content */
        top: 220px;
        width: 80%;
        height: 80%;
        padding: 20px; /* Reduced padding to maintain even spacing */
        gap: 20px; /* Even gap between images */
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: 1fr 1fr; /* Two rows */
    }

    .elementor-heading-title {
        font-size: 5vw; /* Increased font size */
        line-height: 45px;
    }

}
/* For small tablets and large smartphones */
@media (max-width: 768px) {
    .right-side {
        right: 3%; /* Adjusted to center the content */
        top: 190px;
        width:85%;
        height: 70%;
        padding: 20px; /* Reduced padding to maintain even spacing */
        gap: 10px; /* Even gap between images */
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: 1fr 1fr; /* Two rows */
    }

    .elementor-heading-title {
        font-size: 7vw; /* Increased font size */
        line-height: 40px;
    }

}

/* For smartphones */
@media (max-width: 480px) {
    .right-side {
        left: 1%;
        top: 250px;
        width: 95%;
        height: 60%;
        padding: 10px; /* Reduced padding to maintain even spacing */
        gap: 10px; /* Even gap between images */
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: 1fr 1fr; /* Two rows */
    }
    .image-wrapper1 {
        height: 175px; /* Updated height for images */
        width: 175px; /* Updated width for images */
    }

    .elementor-heading-title {
        font-size: 9vw; /* Increased font size */
        line-height: 40px;
    }

}
