.chess-instructions {
  padding: 20px;
  background-color: #e0c919; /* Bright yellow background */
  border-radius: 15px;
  color: #333;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Playful font */

  h1 {
    color: #e91e63; /* Bright pink */
    margin-bottom: 10px;
    font-size: 2.5em; /* Larger font size */
  }

  h2 {
    color: #8e44ad; /* Vivid purple */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em; /* Larger font size */
  }

  h3 {
    color: #3498db; /* Bright blue */
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.75em; /* Larger font size */
  }

  p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.25em; /* Larger font size */
  }

  .chess-image-container {
    width: 300px; /* Adjust width as needed */
    height: 350px; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center the container */
  } 
  
  .level-complete-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #3ea443; /* Darker green on hover */
    }
  }
  /* Button.module.scss */

.level-test-button {
  padding: 10px 20px;
  background-color: #1fe426;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #15b31f;
  }

  &:focus {
    outline: none;
    /* Add focused styles if needed */
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

  

  .chess-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
    border-radius: 15px;
  }

  .explorer-recommendation,
  .trophies-recommendation {
    background-color: #b3e5fc; /* Light blue background */
    padding: 10px;
    border-left: 4px solid #3498db; /* Bright blue border */
    margin: 20px 0;
    font-size: 1.25em; /* Larger font size */
  }

  .king-movement,
  .queen-movement,
  .rook-movement,
  .bishop-movement,
  .knight-movement,
  .pawn-movement {
    background-color: #ffe0b2; /* Light orange background */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    color: #ea4411; /* Dark orange text */
    font-size: 1.25em; /* Larger font size */
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 20px auto; /* Center the image */
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
  }
}