.account-page {
  font-family: Arial, sans-serif;
  background-image: url('/images/im3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;  // Ensure the width covers the full page
  height: 100vh; // Full viewport height to cover the entire screen
  margin: 0; // Remove any default margin
  padding: 20px;
  box-sizing: border-box; // Ensure padding does not affect the overall width

  .account-header {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(180deg, #FF0075, #8C52FF);
    color: white;

    h1 {
      margin-bottom: 5px;
      font-size: 36px;
    }
  }

  .courses-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .courses-info {
      margin-bottom: 20px;

      h3 {
        color: #333333;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .course-card {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;

      &:hover {
        background-color: #F3F0FF;
      }

      .course-info {
        flex-grow: 1;

        .course-status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          h4 {
            color: #4A4A4A;
            font-size: 18px;
            margin: 0;
            font-weight: bold;
          }

          .progress {
            background-color: #FF0075;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;

            &:hover {
              background-color: #d90062;
            }
          }
        }
      }
    }
  }
}

/* Specific Course Card Styles */
.recently-used {
  background: linear-gradient(to right, #f12711, #f5af19); /* Orange-red to yellow */
  color: white;
}

.shapes {
  background: linear-gradient(to right, #4CA1AF, #C4E0E5); /* Light blue to white */
  color: black;
}

.graphics {
  background: linear-gradient(to right, #FF5F6D, #FFC371); /* Pink to light orange */
  color: white;
}

.stickers {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Blue to purple to pink */
  color: white;
}

.photos {
  background: linear-gradient(to right, #00c6ff, #0072ff); /* Light blue to dark blue */
  color: white;
}

.videos {
  background: linear-gradient(to right, #11998e, #38ef7d); /* Green gradients */
  color: white;
}

.charts {
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Gray to dark gray */
  color: white;
}

.tables {
  background: linear-gradient(to right, #e65c00, #f9d423); /* Orange to yellow */
  color: white;
}
