.account-page {
  font-family: Arial, sans-serif;
  background-image: url('/images/im3.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

.account-header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(180deg, #FF0075, #8C52FF);
  color: white;
}

.courses-info1 {
  text-align: center;

  h3 {
    font-size: 25px;
    color: #333;
  }
}

.courses-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0; // Remove any extra margin from the grid container
  padding: 0;
}

.course-card {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%; // Set a full height for all cards
  padding: 0;
  margin: 0;

  &:hover {
    transform: translateY(-10px);
  }
}

.course-image-container {
  position: relative;
  width: 100%;
  height: 200px; // Set a fixed height for the image container
  margin: 0;
  padding: 0;
}

.course-image {
  object-fit: cover; // Ensure the image covers the container fully
}

.in-progress-button {
  position: absolute;
  top: 64px;
  right:12px;
  padding: 3px 1px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #2980b9;
  }
}
