.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
  }

  
  .imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .imageGallery div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .imageGallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  