body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .lesson-content {
    max-width: 800px;
    height: 100vh; /* Adjusted to 100vh to take full viewport height */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    display: flex;
    flex-direction: column; /* Ensure the content inside is organized in a column */
    
  
    .progress-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      span {
        font-size: 14px;
        color: #444;
      }
  
      .progress {
        background-color: #e0e0e0;
        border-radius: 10px;
        height: 10px;
        flex-grow: 1;
        margin-left: 10px;
        overflow: hidden;
  
        .progress-fill {
          background-color: #76c7c0;
          height: 100%;
        }
      }
    }
  
    h1 {
      font-size: 24px;
      color: black;
      margin-bottom: 5px;
    }
    
    p {
        background-color: #cfcfcf;
        margin-bottom: 20px !important;/* Adjusted margin-bottom */
    }
  
    .course-path {
      font-size: 14px;
      border-radius: 5px;
      height: 40px;
      align-items: center;
      padding: 10px;
      color: #9b1266;
      justify-content: space-between;
      align-items: center;
    }
  
    .status-badge {
      background-color: #f39c12;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      float: right;
    }
  
    .lesson-steps {
      margin-top: 20px;
  
      h2 {
        height: 50px;
        padding: 10px;
        font-size: 18px;
        background-color: #9b1266;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .completion-rate {
          font-size: 14px;
          color: #ffffff;
        }
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: flex;
          color: black;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #eee;
  
          &.completed {
            color: #4caf50;
          }
  
          .checkmark {
            color: #4caf50;
            margin-right: 10px;
            font-size: 18px;
          }
  
          .quiz-icon {
            margin-right: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }
