@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.course-content {
  width: 360px;
  max-height: 100vh; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: width 0.3s ease;
  font-family: 'Montserrat', sans-serif;

  &.minimized {
    width: 80px;
  }

  /* Customize the scrollbar for WebKit browsers */
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b51772; /* Color of the scrollbar thumb */
    border-radius: 12px;

    &:hover {
      background-color: #e65c5c; /* Color when hovering over the scrollbar thumb */
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .toggle-button {
      background-color: #b51772;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 0;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #e65c5c;
        transform: scale(1.1);
      }
    }

    .go-back-button {
      background-color:  #6c65c5;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 12px 24px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color:#433f83;
      }
    }
  }

  .module {
    .module-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 2px solid #e0e0e0;
      margin-bottom: 12px;

      span {
        font-size: 18px;
        color: #333333;

        &.progress {
          font-weight: 700;

          .topics-count {
            color: #666666;
          }

          .quizzes-count {
            color: #b51772;
          }
        }
      }
    }

    .topics {
      .topic {
        display: flex;
        flex-direction: column; /* Arrange the title and submodules vertically */
        padding: 12px 0;
        border-bottom: 1px solid #f1f1f1;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border-radius: 8px;

        &:hover {
          background-color: #e9f7f4;
          transform: translateX(8px);
        }

        .title-container {
          display: flex;
          align-items: center;

          .icon {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }

          .title {
            color: #b51772;
            margin-left: 0;
            flex: 1;
          }
        }

        &.completed .icon.check {
          background-color: #65c565;
        }

        .submodules {
          margin-top: 8px;
          padding-left: 20px;

          .submodule {
            display: flex;
            align-items: center;
            padding: 8px 0;
            border-bottom: 1px solid #f1f1f1;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            border-radius: 8px;

            &:hover {
              background-color: #e9f7f4;
              transform: translateX(8px);
            }

            .icon {
              width: 18px;
              height: 18px;
              margin-right: 8px;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }

            .title {
              color: #b51772;
              margin-left: 0;
            }

            &.completed .icon.check {
              background-color: #6c65c5;
            }
          }
        }
      }
    }
  }
}
