.container {
    padding: 20px;
    background-color: #121212; /* Dark background for better contrast */
    color: #f0f0f0; /* Light text color for readability */
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #f0f0f0; /* Light text color for readability */
  }
  
  button:hover {
    background: #1f1f1f; /* Slightly lighter dark background for hover effect */
  }
  
  .activeTab {
    border-bottom: 2px solid #0070f3;
    color: #0070f3; /* Highlight active tab */
  }
  
  .tournamentsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #f0f0f0; /* Ensure text color is light */
  }
  
  .tournamentCard {
    padding: 20px;
    border: 1px solid #333; /* Dark border for better contrast */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1e1e1e; /* Dark background for card */
    color: #f0f0f0; /* Ensure text color is light */
  }
  
  h1, h3, h4, p {
    margin: 0 0 10px;
    color: #f0f0f0; /* Ensure headings and paragraphs have light text color */
  }
  