.puzzle-arena-page {
  padding: 20px;
  position: relative; 
}
.puzzle-arena-container {
  background-color: #276089;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.0rem; // Adjust font size as needed
  font-weight: bold;
  color: #ffffff; // Dark color for better readability
  margin-bottom: 1rem; // Space below the title
  text-align: left; // Center the title
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 5px solid white;
  }
}

.right-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    margin-bottom: 20px;
  }

  .arena-scores {
    .score-item {
      background-color: #FFA500;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: white;
      display: flex;
      justify-content: space-between; // Aligns children to opposite ends
      align-items: center; // Vertically centers children

      span {
        margin-left: auto; // Pushes the span to the right
        font-size: 1.2rem; // Adjust font size if needed
      }
    }
    .score-item1 {
      background-color: #48b906;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: white;
      display: flex;
      justify-content: space-between; // Aligns children to opposite ends
      align-items: center; // Vertically centers children

      span {
        margin-left: auto; // Pushes the span to the right
        font-size: 1.2rem; // Adjust font size if needed
      }
    }
    .score-item2 {
      background-color: #8711cc;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: white;
      display: flex;
      justify-content: space-between; // Aligns children to opposite ends
      align-items: center; // Vertically centers children

      span {
        margin-left: auto; // Pushes the span to the right
        font-size: 1.2rem; // Adjust font size if needed
      }
    }
    .score-item3 {
      background-color: #be1904;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: white;
      display: flex;
      justify-content: space-between; // Aligns children to opposite ends
      align-items: center; // Vertically centers children

      span {
        margin-left: auto; // Pushes the span to the right
        font-size: 1.2rem; // Adjust font size if needed
      }
    }
    .total-score {
      background-color: #FF8C00;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
    
      span {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: bold;
      }
    
      .clickable-link {
        display: inline-block;
        position: relative;
        padding: 2px 15px;
        background: white;
        color: black; /* Text color */
        font-size: 28px; /* Adjust as needed */
        text-decoration: none; /* Remove underline */
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all 1s ease;
        cursor: pointer;
      
        &::after,
        &::before {
          content: " ";
          width: 10px;
          height: 10px;
          position: absolute;
          border: 0px solid #fff;
          transition: all 1s ease;
        }
      
        &::after {
          top: -1px;
          left: -1px;
          border-top: 5px solid black;
          border-left: 5px solid black;
        }
      
        &::before {
          bottom: -1px;
          right: -1px;
          border-bottom: 5px solid black;
          border-right: 5px solid black;
        }
      
        &:hover {
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
      
          &::before,
          &::after {
            width: 100%;
            height: 100%;
            /* Uncomment if you want to change the background color on hover */
            // background: rgba(0, 0, 0, 0.5);
            // color: white;
          }
        }
      }
      
      
      
    }
    
  }
}
.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.prev-button,
.next-button {
  background-color: #007bff; // Adjust the color as needed
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3; // Adjust hover color as needed
  }

  &:disabled {
    background-color: #cccccc; // Disabled state color
    cursor: not-allowed;
  }
}

.prev-button {
  margin-right: auto; // Align to the left
}

.next-button {
  margin-left: auto; // Align to the right
}


.bottom-section {
  width: 100%;
  padding: 20px;

  .theme-practice {
    background-color: #861cdd;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  
    .filter-container {
      margin-bottom: 10px;
  
      p {
        font-size: 1.5rem; 
        margin-bottom: 30px;
        margin-top: 10px;
        color: white;
      }
    }
  
    .category-boxes {
      display: flex;
  justify-content: space-around; // Distribute space evenly
  margin-bottom: 20px; // Space below the category boxes

    }

    .category-box {
      background-color: #48b906; // Default background color
      border: 1px solid #e3dbdb; // Border color
      padding: 10px 20px; // Padding inside the box
      color: white; // Text color
      width: 200px;
      text-align: center;
      cursor: pointer; // Pointer cursor on hover
      transition: background-color 0.3s ease, transform 0.3s ease; // Smooth transition for background color and transform
    
      &:hover {
        background-color: #3a9706; // Darker green on hover
        transform: scale(1.05); // Slight zoom effect on hover
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); // Shadow effect
      }
    
      &.Opening {
        background-color: #d59114; // Custom color for Opening
        &:hover {
          background-color: #b57612; // Darker shade on hover
        }
        &.active {
          background-color: #ff9e01; // Highlight color for active tab
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); // Enhanced shadow effect
          transform: scale(1.1); // Slightly larger scale for active tab
        }
      }
    
      &.Middlegame {
        background-color: #00a6ff; // Custom color for Middlegame
        &:hover {
          background-color: #008dcc; // Darker shade on hover
        }
        &.active {
          background-color: #1912f3; // Highlight color for active tab
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); // Enhanced shadow effect
          transform: scale(1.1); // Slightly larger scale for active tab
        }
      }
    
      &.Endgame {
        background-color: #73bf9a; // Custom color for Endgame
        &:hover {
          background-color: #7ac19c; // Darker shade on hover
        }
        &.active {
          background-color: #0cc155; // Highlight color for active tab
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); // Enhanced shadow effect
          transform: scale(1.1); // Slightly larger scale for active tab
        }
      }
    
      &.Mixed {
        background-color: #cc5f00; // Custom color for Mixed
        &:hover {
          background-color: #a64c00; // Darker shade on hover
        }
        &.active {
          background-color: rgb(218, 66, 12); // Highlight color for active tab
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); // Enhanced shadow effect
          transform: scale(1.1); // Slightly larger scale for active tab
        }
      }
    
     
    }
  
    .practice-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #5ecd32;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
  
      p {
        margin: 0;
        color: white;
      }
  
      .clickable-link {
        cursor: pointer;
        color: blue; /* Add styles to indicate it's clickable */
        text-decoration: underline;
      }
  
      .start-button, .return-button, .completed-button {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #FFA500;
        border: 1px solid #000;
        color: white;
      }
  
      .join-button {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #ff5500;
        border: 1px solid #000;
        color: white;
      }
    }
  }
    

  .live-arena {
    background-color: #861cdd;
    border: 1px solid #000;

    p:first-child {
      font-size: 1.2rem;
      color: #f8f8f8;
    }
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above all other content */
}

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width:200; /* Adjust size as needed */
    height: 200;
  }  
}

.theme-practice {
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 20px;
  // text-align: center; /* Center the content horizontally */
}

.live-arena {
  width: 100%;
}

.filter-dropdown {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1px; /* Adjust the top margin if needed */
}

.filter-button {
  width: 150px;
  padding: 10px 20px;
  background-color: #FFA500;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-options {
  width: 150px;
  margin-top: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 100%; /* Position it below the button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  p {
          padding: 5px 10px;
          margin: 0;
          cursor: pointer;
          color: white;
          background-color: #3a9706;
    
          &:hover {
            background-color: #861cdd;
          } 
        }
}
.puzzle-content {
  width: 50%; /* Adjusted as needed */
  margin: 0 auto; /* Center the div horizontally */
}
